<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!--Content for the Add page -->
<div class="container">
<br>
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>

        <form class="form" method="Post">
            <div class="form-group">
                <label for="ContactNameTextField">Contact Name</label>
                <input type="text" class="form-control"
                id="ContactNameTextField"
                placeholder="Enter the Contact Name"
                name="ContactName"
                value="<%= businessContacts.ContactName %>"
                required>
            </div>

            <div class="form-group">
                <label for="ContactNumberTextField">Contact Number</label>
                <input type="text" class="form-control"
                id="ContactNumberTextField"
                placeholder="Enter the Contact Number"
                name="ContactNumber" 
                value="<%= businessContacts.ContactNumber %>"
                required>
            </div>

            <div class="form-group">
                <label for="EmailTextField">Email</label>
                <input type="text" class="form-control"
                id="EmailTextField"
                placeholder="Enter the Email Address"
                name="Email" 
                value="<%= businessContacts.Email %>"
                required>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit</button>

                <a href="/businessContacts-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

        </form>
        </div>    

    </div>
</div>




<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
